.page {

}
.page-enter-active {
    animation: fon 400ms linear forwards;
}

.page-exit-active {
    position: absolute;
    z-index: -99;
    animation: foff 400ms linear forwards;
}



@keyframes fon {
    0% {
        opacity: 0;
        transform: scale(1.2);
        /*transform: rotateY(-180deg) rotateX(-180deg);*/
    }
    100% {
        opacity: 1;
        transform: scale(1);
        /*transform: rotateY(0deg) rotateX(0);*/
    }
}

@keyframes foff {
    0% {
        transform: scale(1);
        /*transform: rotateY(0) rotateX(0);*/
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        /*transform: rotateY(180deg) rotateX(180deg);*/
        opacity: 0;
    }
}
